* {
    margin: 0;
    padding: 0px;
    background-color: black;
    color:azure;
}

body {
    width: auto;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

ul {
    margin-left: 30px;
    position: absolute;
    margin-bottom: 0px;
    
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
}

ul li a {
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: "brother-1816", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 20px;
    
}

ul li a:hover {
    font-weight: 600;
}

.sidea {
    display: none;
}

.sideb {
    display: none;
}

.logo {
    max-width: 350px;
    padding-top: 300px;
    padding-bottom: 160px;
    padding-left: 70px;
}


.git {
    max-width: 40px;
    padding-bottom: 10px;
}

.fb {
    max-width: 40px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;

}

.bottom {
    max-width: 500px;
}

p {
display: block;
text-decoration: none;
font-size: 14px;
font-family: "brother-1816", sans-serif;
font-weight: 400;
font-style: normal;
padding: 0 20px;
padding-left: 80px;
}

@media (min-width: 760px) {
    .sidea {
        display:block;
        max-width: 130px;
        transform: translate(-55px, 100px)
    }

    .sideb {
        display:block;
        max-width: 130px;
        transform: translate(725px,-930px);
    }

    .logo {
    max-width: 350px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    transform: translate(270px,-200px);
    }

    .git {
        display:block;
        padding-bottom: 0px;
        transform: translate(110px,-585px);
    }
    
    .fb {
        
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        transform: translate(50px,-540px);
    
    }
    
    .bottom {
        max-width: 700px;
        transform: translate(270px,-670px);
        background: none;
    }

    p {
        display: block;
        text-decoration: none;
        font-size: 14px;
        font-family: "brother-1816", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 0 20px;
        padding-left: 0px;
        transform: translate(180px,-615px);
        }
}

@media (min-width: 1000px) {

    ul {
        margin-left: 80px;
        position: absolute;
        margin-bottom: 0px;
        }

    .sidea {
        display:block;
        max-width: 160px;
        transform: translate(-80px, 90px);
      
    }

    .sideb {
        display:block;
        max-width: 160px;
        transform: translate(1400px,-1070px);
    }

    .logo {
        max-width: 350px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        transform: translate(580px,-490px);
        }

        .git {
            display:block;
            padding-bottom: 0px;
            transform: translate(190px,-1105px);
        }
        
        .fb {
            
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            transform: translate(140px,-1060px);
        
        }
        
        .bottom {
            max-width: 700px;
            transform: translate(810px,-1180px);
            background: none;
        }
    
        p {
            display: block;
            text-decoration: none;
            font-size: 14px;
            font-family: "brother-1816", sans-serif;
            font-weight: 400;
            font-style: normal;
            padding: 0 20px;
            padding-left: 0px;
            transform: translate(250px,-1135px);
            }
}
